$color--main-1: #2c4f80;
$color--main-2: #e32700;
$color--header: #061b38;
$color--hero-desc: #436dac;
$color--background-1: #f1f1f1;
$color--background-2: white;

$card--shadow: 0 2px 4px 0 rgba(145, 145, 145, 0.5);
$pad--small: 1em;
$pad--big: 3em;

$fs--big: 3rem;
$fs--med: 2rem;
$fs--small: 1rem;

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,800&display=swap');
$font--main: 'Montserrat',
sans-serif;