.site-header {
    background-color: $color--header;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em;

    @include for-desktop(550px) {
        justify-content: space-between;
        flex-direction: row;

    }

    &__navlist {
        list-style: none;
        display: flex;
        flex-flow: row wrap;
        font-weight: bold;
        padding: 0;
    }

    &__itemlink {
        text-decoration: none;
        color: $color--background-2;

        &--active {
            border-bottom: 3px solid $color--main-2;
        }
    }

    &__item {
        padding: 0 1em;


    }
}

.site-footer {
    background-color: $color--main-1;
    color: $color--background-2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    padding: 3em;
    text-align: center;

    &__highlight {
        color: $color--main-2;
    }
}