.hero {
    background-image: linear-gradient(rgba(#c15555, 0.5),
            rgba(#240202, 0.5)), url(../projekt-bilder/page-1/hero-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 50%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 0;
    padding: 0;
    position: relative;

    &--top-clip,
    &--bot-clip {
        &::before {
            content: "";
            clip-path: circle(46% at 50% 50%);
            background-image: linear-gradient($color--hero-desc);
            display: flex;
            flex-direction: center;
            align-items: center;
            height: 100%;
            width: 100%;
            position: absolute;

        }

        &::after {
            content: "";
            clip-path: circle(45% at 50% 50%);
            background-image: linear-gradient(190deg, $color--header 30%, $color--main-1 99%);
            display: flex;
            flex-direction: center;
            align-items: center;
            height: 100%;
            width: 100%;
            position: absolute;

        }
    }

    @include for-desktop {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: end;
        height: 100vh;
        position: relative;

        &--top-clip {
            &::before {
                content: "";
                height: 100vh;
                grid-column: span 2;
                grid-row: span 2;
                clip-path: ellipse(82% 73% at 61% 1%);
                background-color: $color--hero-desc;
            }

            &::after {
                content: "";
                position: absolute;
                height: 100vh;
                width: 100%;
                grid-column: span 2;
                grid-row: span 2;
                clip-path: ellipse(80% 70% at 61% 1%);
                background-image: linear-gradient(190deg, $color--header 40%, $color--main-1 100%);
            }
        }

        &--bot-clip {
            &::before {
                content: "";
                height: 100%;
                grid-row: 1/3;
                grid-column: 1/3;
                clip-path: ellipse(75% 72% at 26% 100%);
                background-color: $color--hero-desc;
            }

            &::after {
                content: "";
                position: absolute;
                height: 100vh;
                width: 100%;
                grid-column: 1/3;
                grid-row: span 2;
                clip-path: ellipse(74% 69% at 26% 100%);
                background-image: linear-gradient(10deg, $color--header 0%, $color--main-1 100%);
            }
        }
    }

    &__content {
        max-width: 55%;
        font-size: $fs--small;
        z-index: 1;
        text-align: center;

        @include for-desktop {
            grid-column: 2;
            grid-row: 1;
            max-width: 59%;
            align-self: center;
        }
    }

    &__headline {
        color: $color--background-2;
        font-weight: 800;
        margin: 0;
        text-align: center;
        font-size: $fs--med;

        @include for-tablet {
            font-size: $fs--big;
            ;
            margin-bottom: 10px;
            text-align: left;
        }

        @include for-desktop {
            font-size: 3.5rem;
        }
    }

    &__desc {
        color: $color--hero-desc;
        margin-top: 0.5rem;
        padding-top: 10px;
        border-top: solid 4px $color--background-2;

        @include for-tablet {
            font-size: $fs--med;
            text-align: left;
        }
    }
}

.faq {
    background-image: linear-gradient(rgba(#c15555, 0.5),
            rgba(#240202, 0.5)), url(../projekt-bilder/page-2/hero-2.jpg);
}

.join-page {
    background-image: linear-gradient(rgba(#c15555, 0.5),
            rgba(#240202, 0.5)),
        url(../projekt-bilder/page-3/hero-3.jpg);
    z-index: 0;

    &__content {
        grid-column: 1/2;
        grid-row: 2;
        justify-self: center;
        align-self: center;



    }

    @include for-tablet {
        &__headline {
            font-size: $fs--big;
            ;
        }

        &__desc {
            font-size: $fs--med;
        }
    }
}