.info-page {
    background-color: $color--background-1;
    padding: 3em;
    max-width: 1000px;
    margin: auto;

    &__headline {
        text-align: center;
    }


    &__grid-wrapper {
        display: grid;
        grid-template-rows: 600px 600px 600px;
        min-height: 0;
        min-width: 0;
        gap: 1em;
        justify-items: center;

        @include for-desktop(550px) {
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        }
    }

    &__article {
        background-color: $color--background-2;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        justify-content: center;
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        // justify-content: center;
        // padding: 1em;

        @include for-desktop(550px) {
            grid-column: span 2;
            flex-direction: row;
            grid-template-columns: 1fr 2fr;
            grid-template-rows: 1fr;
            padding: 1em;

            &:nth-child(2) {
                padding: 0 1em 0 0;
            }

            &:nth-child(3) {
                grid-template-rows: 1fr 2fr;
                grid-template-columns: 1fr;
            }

            &--tall {
                grid-column: 3;
                grid-row: 1/3;
                flex-direction: column;
            }
        }
    }

    &__image {
        object-fit: fill;
        max-width: 100px;
        max-height: 100px;
        width: 100%;
        align-self: center;
        justify-self: center;

        @include for-desktop(550px) {
            &--tall {
                grid-column: 1;
            }

            &--no-padding {
                max-height: 100%;
                max-width: 100%;
                padding: 0;
            }
        }
    }

    &__text-content {
        margin-left: 30px;

        &--tall {
            grid-row: 2;
            align-self: center;
        }
    }
}