.info-page {
  background-color: $color--background-1;
  padding: $pad--big;
  max-width: 1000px;
  margin: auto;

  &__headline {
    text-align: center;
    color: $color--main-1;
    padding: $pad--small;
    margin-bottom: $pad--small;
    font-size: $fs--med;

    @include for-desktop {
      font-size: $fs--med;
    }
  }

  &__article-headline {
    color: $color--main-2;
  }

  &__grid-wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: $pad--small;
    justify-items: center;

    @include for-desktop {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
  }

  &__button {
    @include button;
    grid-column: 1;
    justify-self: center;
    align-self: center;

    @include for-desktop {
      grid-column: 2;
      justify-self: start;

      &--tall {
        justify-self: start;
        align-self: center;
        grid-row: 3;
        grid-column: 1;
        margin: 0;
      }

      &--no-padding {
        margin-bottom: $pad--small;
        margin-left: $pad--small;
      }
    }
  }

  &__article {
    background-color: $color--background-2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr auto;
    align-items: center;
    justify-content: center;
    padding: $pad--small;
    box-shadow: $card--shadow;

    @include for-desktop {
      grid-column: span 2;
      flex-direction: row;
      grid-template-columns: 2fr 3fr;
      grid-template-rows: 1fr;
      padding: $pad--small;

      &:nth-child(2) {
        padding: 0 $pad--small 0 0;
      }

      &--tall {
        grid-template-rows: 1fr 1fr auto;
        grid-template-columns: 1fr;
        grid-column: 3;
        grid-row: 1/3;
        flex-direction: column;
      }
    }
  }

  &__image {
    object-fit: fill;
    max-width: 200px;
    max-height: 200px;
    width: 100%;
    align-self: center;
    justify-self: center;
    grid-row: 1;

    &--no-padding {
      max-height: 100%;
      max-width: 100%;
      padding: 0;
    }

    @include for-desktop {
      max-width: 150px;
      max-height: 150px;
      grid-column: 1;
      grid-row: span 2;

      &--no-padding {
        max-height: 100%;
        max-width: 100%;
        padding: 0;
        grid-row: span 2;
      }

      &--tall {
        grid-row: 1;
      }
    }
  }

  &__text-content {
    &--tall {
      grid-row: 2;
      align-self: center;
    }

    &--no-padding {
      padding-left: $pad--small;
    }
  }

  @include for-desktop {
    grid-column: 2;
  }
}
