.join-banner {
  margin: $pad--big auto;
  text-align: center;
  max-width: 90%;

  @include for-tablet {
    max-width: 35%;
  }

  &__headline {
    color: $color--main-2;
    font-size: $fs--med;

    @include for-tablet {
      font-size: $fs--big;
    }
  }

  &__paragraph {
    color: $color--main-1;
    font-weight: 300;

    @include for-tablet {
      font-size: $fs--med;
    }
  }
}

.contact-form {
  display: grid;
  align-items: center;
  margin: $pad--big auto;
  background-color: $color--background-2;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr) 3fr 1fr;
  grid-gap: $pad--small;
  box-shadow: $card--shadow;
  max-width: 80%;
  padding: $pad--big;

  @include for-desktop {
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 5fr;
    grid-gap: 2em;
    max-width: 1000px;
    width: 80%;
  }

  &__entry {
    display: flex;
    flex-direction: column;
    color: $color--main-1;


    &--motivation {
      @include for-desktop {
        grid-row: 3;
        grid-column: span 3;
      }

      height: 100%;
    }
  }

  &__headline {
    font-weight: 800;
    font-size: 12px;
    margin-bottom: $pad--small;
  }

  &__input {
    font-family: $font--main;


    &--motivation {
      height: 100%;
    }
  }

  &__input-button {
    @include button;
    justify-self: center;

    @include for-desktop {
      grid-column: span 3;

    }
  }
}