@import "variables/variables";
@import "mixins/mixins";
@import "layouts/header";
@import "layouts/hero";
@import "layouts/newsky";
@import "layouts/info-page";
@import "layouts/faq-page";
@import "layouts/join-page";


body {
    padding: 0;
    margin: 0 auto;
    font-family: $font--main;
    background: $color--background-1;
}

.img-wrapper {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.img-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}